# Ignore node_modules and build output
node_modules

# Ignore Yarn PnP files
/.pnp
.pnp.js

# local env files
.env*.local
.env

# Next.js build output
.next

# Build output
/build

# Vercel
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem